DBConnectionStr=<REDACTED>
MYSQL_DATABASE=<REDACTED>
MYSQL_USER=<REDACTED>
MYSQL_PASSWORD=<REDACTED>
MYSQL_ROOT_PASSWORD=<REDACTED>
TZ=UTC
MOUNTED_SHARED_DIRECTORY=/app
MYSQL_CONTAINER_NAME_PREFIX=mysql
MARIADB_CONTAINER_NAME_PREFIX=mariadb
S3BucketName=<REDACTED>
S3Region=<REDACTED>
S3APIKEY=<REDACTED>
S3Secretkey=<REDACTED>
S3Domain=<REDACTED>
SYSTEM_SECRET=<REDACTED>
REFRESH_SECRET=<REDACTED>
